<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- Form-->
    <div class="mt-4 col-md-3">
      <div class="shadow card">
        <div class="card-header bg-dark text-light"><h4>Administracion de Tiendas</h4></div>
        <div class="card-body">
          <form #storeForm="ngForm">
            <div class="form-group d-flex flex-column">
              <input type="hidden" id="_id" name="_id" #name="ngModel" [(ngModel)]="storeService.selectedStore._id"
                class="form-control"/>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="name">Nombre de Tienda</label>
              <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="storeService.selectedStore.name"
                class="form-control text-capitalize"/>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="phone">Teléfono</label>
              <input type="text" id="phone" name="phone" #name="ngModel" [(ngModel)]="storeService.selectedStore.phone"
                class="form-control" />
            </div>
            <div class="form-group d-flex flex-column">
              <label for="location">Barrio</label>
              <input type="text" id="location" name="location" #name="ngModel"
                [(ngModel)]="storeService.selectedStore.location" class="form-control text-capitalize"/>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="category">Categoría</label>
              <select class="form-control" type="text" id="category" name="category" #name="ngModel" required
                [(ngModel)]="storeService.selectedStore.category" class="form-control">
                <option></option>
                <option>Restaurantes y Comidas</option>
                <option>Farmacias y Servicios de Salud</option>
                <option>Mini-mercados y Tenderos de Barrio</option>
                <option>Bares y Licores</option>
                <option>Papelería y Miscelánea</option>
                <option>Fruver y Frigoríficos</option>
                <option>Barbería, Spa y Belleza</option>
                <option>Ferretería y Mecánica</option>
                <option>Tecnología</option>
                <option>Servicios para Mascotas</option>
              </select>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="information">Información</label>
              <textarea type="text" id="information" name="information" #name="ngModel"
                [(ngModel)]="storeService.selectedStore.information" class="form-control"></textarea>
            </div>
            <div class="form-group d-flex flex-column">
              <label for="imgUrl">Url Imagen</label>
              <input type="text" id="imgUrl" name="imgUrl" #name="ngModel"
                [(ngModel)]="storeService.selectedStore.imgUrl" class="form-control"/>
            </div>
            <button class="btn btn-succes mx-2" (click)="createStore(storeForm)">
              Guardar
            </button>
            <button class="btn btn-inf mx-2" (click)="cleanForm(storeForm)">
              Limpiar
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- Tabla -->
    <div class="col-md-9">
      <table class="table table-striped">
        <thead>
          <th>Nombre</th>
          <th>
            <!-- <button class="btn btn-primary" (click)="filterByPrice()"> -->
            Telefono
            <!-- </button> -->
          </th>
          <th>
            <!-- <button class="btn btn-primary btn-block" (click)="filterByDate()"> -->
            Barrio
            <!-- </button> -->
          </th>
          <th>Categoria</th>
          <th>Información</th>
        </thead>
        <tbody class="text-capitalize">
          <tr *ngFor="let store of storeService.store">
            <td>{{ store.name }}</td>
            <td>{{ store.phone }}</td>
            <td>{{ store.location }}</td>
            <td>{{ store.category }}</td>
            <td>{{ store.information }}</td>
            <!-- Buttons -->
            <td>
              <a (click)="updateStore(store)" class="mx-2 mb-2 btn btn-warnin">Editar</a>
              <a (click)="deleteStore(store._id)" class="mx-2 btn btn-dang">Eliminar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-footer></app-footer>