          <!--Inicio Barra Navegacion-->	
          <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        
            <!--Imagen o logo-->
                <a class="navbar-brand" href="../home/home.component.html"><img src="https://scontent.fbog12-1.fna.fbcdn.net/v/t1.6435-9/182922413_10224734616689982_8569234680146706080_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=3d0KDMx-segAX_OF68Z&_nc_ht=scontent.fbog12-1.fna&oh=7ab30d4e919bdaccd07554c0db6741ed&oe=60B87D7B" width="300" height="50" alt=""></a>
                
                <!--Botones de accesos-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../home/home.component.html">Inicio  / ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../store/store.component.html">Tiendas  /  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../admin/admin.component.html">Crear Tienda  /  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../nosotros/nosotros.component.html">Nosotros  /  </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../contact/contact.component.html">Contactanos </a>
                        </li>
                      </ul>
                    
                      <!--Boton Buscar-->         
                      <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                      </form>
                </div>
            </nav>